@import "../../../scss/variables";

section.service_section {
	.container {
		width: 100%;
		margin: 0 auto;

		.service_heading {
			text-align: center;
			padding: 1em;
			h1 {
				padding: 1em;
				font-size: 1.2em;
				font-weight: bold;
			}
		}

		ul {
			display: flex;
			position: relative;
			margin: 2em;
			flex-direction: column;
			align-items: center;
			gap: 2em;

			li {
				width: 25em;
				height: 18em;
				box-shadow: 1px 2px 3px rgb(88, 88, 88);
				padding: 2em;
				img {
					width: 5em;
					height: 5em;
					float: left;
				}

				.lets_build {
					width: 100%;
					display: flex;
					justify-content: left;

					button {
						padding: 0.8em 1.2em;
						background: var(--accent-color);
						border-radius: 5em;
						color: var(--white-color);
						font-size: 1em;
						font-weight: bold;
						border: none;
						margin-top: 2em;
						&:hover {
							background: var(--primary-color);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $md) {
	section.service_section {
		.container {
			ul {
				flex-direction: row;

				li {
					width: 30em;
					height: 20em;
				}
			}
		}
	}
}
