@import "../../../scss/variables";

section.hero_section {
	overflow: hidden;
	width: 100%;
	h1 {
		padding: 0;
		margin: 0;
	}
	.bold_text {
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}
	.hero {
		width: 100%;
		padding-top: 3em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	img {
		width: 31.25em;
		height: 31.25em;
	}
	.hero_left {
		h1 {
			font-size: 1.5em;
		}
		p {
			color: var(--gray-color);
			font-size: 1em;
			display: block;
		}
		.hero_contact {
			display: flex;
			align-items: center;
			width: 100%;
			margin: 0 auto;
			justify-content: center;

			.hero_cta {
				display: block;
				padding: 0.6em 1.6em;
				border-radius: 5em;
				text-align: center;
				font-size: 1.2em;
				color: var(--white-color);
				background: var(--accent-color);
				margin-top: 0.5em;
				&:hover {
					background: var(--primary-color);
				}
			}
		}
	}
}

@media screen and (min-width: $md) {
	section.hero_section {
		overflow: hidden;

		.hero {
			flex-direction: row;
			padding: 0 5em;
		}
	}
}
