@import "../../../scss/variables";

section.about_section {
	background: var(--accent-color);
	color: var(--white-color);
	padding-top: 2em;

	.about_head {
		width: 100%;
		text-align: center;
		font-size: 1.2em;
	}
	.container {
		width: 60%;
		padding: 0 0.3em;
		margin: 0 2em;

		p {
			font-size: 0.8em;
		}

		.skill {
			width: 10em;
			display: grid;
			gap: 1em;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (min-width: $md) {
	section.about_section {
		.container {
			width: 65%;
			margin: 0 auto;

			.skill {
				grid-template-columns: repeat(4, 1fr);
				gap: 2em;
			}
		}
	}
}
