@import "../../../scss/variables";
.show {
	display: block;
}

.hidden {
	display: none;
}

header {
	overflow: hidden;

	.logo {
		font-size: 1.5em;
		font-weight: bold;
		cursor: pointer;
	}

	.container {
		width: 100%;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		padding-top: 0.3em;
	}

	.desktop_navbar {
		display: none;
	}
	.navbar_cta {
		display: none;
	}
	.mobile_navbar {
		position: fixed;
		top: 0;
		right: 0;
		width: 65%;
		height: 100%;
		background: var(--accent-color);
		z-index: 999;
		ul {
			margin-top: 5em;
			list-style-type: none;
			li {
				a {
					display: block;
					padding: 0.5em;
					text-align: center;
					text-decoration: none;
					color: var(--white-color);

					&:hover {
						font-weight: bold;
					}
				}
			}
		}

		.menu_close {
			float: right;
			margin: 1em;
			cursor: pointer;
			width: 1.3em;
			height: 1.3em;
		}

		.navbar_mobile_cta {
			display: block;
			padding: 0.5em 1.5rem;
			background: var(--white-color);
			border-radius: 5em;
			text-align: center;
			color: var(--primary-color);
			text-decoration: none;
			margin: 1.5em auto 0 auto;
			font-weight: bold;
			width: 10em;

			&:hover {
				background: var(--secondary-color);
				color: var(--white-color);
			}
		}
	}
}

@media only screen and (min-width: $md) {
	header {
		.container {
			width: 100%;
			margin: 0 auto;
		}
		.mobile_navbar {
			display: none;
		}
		.menu_open {
			display: none;
		}
		.desktop_navbar {
			display: flex;
			justify-content: space-around;

			ul {
				display: flex;
				margin-left: 0.5em;

				li {
					padding: 0 1.5em 0 0;
					a {
						font-size: 1.1em;
						text-decoration: none;
						color: var(--black-color);

						&:hover {
							font-weight: bold;
						}
					}
				}
			}
		}

		.navbar_cta {
			display: block;
			text-decoration: none;
			color: var(--white-color);
			padding: 0.5em 1.5em;
			border-radius: 5em;
			background: var(--accent-color);

			&:hover {
				background: var(--primary-color);
			}
		}
	}
}
